<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Nécessaire pour le hot reload et les appels API en développement -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- DEBUG UNIQUEMENT : config réseau pour le backend local -->
    <application
        android:networkSecurityConfig="@xml/network_security_config" />
</manifest>